body {
  display: flex;
  justify-content: center;
}
.divDirection {
  display: flex;
  flex-direction: column;
}

.buttonStyle {
  margin-top: 1%;
  background-color: #df4b2d;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}

.logoStyle {
  margin-top: 1%;
  width: 15%;
  height: 15%;
}
