body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Quicksand';
}
header {
  margin-bottom: 5%;
  text-align: left;
}
h1 {
  margin-top: 10%;
  font-size: larger;
  opacity: 85%;
}
.title {
  margin-top: 15%;
  opacity: 30%;
}
.logoTitle {
  width: 70%;
  height: 40%;
}
.divDirection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.divInputStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 8%;
  width: 70%;
}
input {
  margin-top: 15%;
  width: 100%;
  height: 25px;
  border-color: transparent;
  border-block-end-color: rgb(77, 77, 77);
  font-size: larger;
}
.buttonStyle {
  margin-top: 15%;
  background-color: #df4b2d;
  color: #ffffff;
  border-radius: 10px;
  font-size: 140%;
  font-weight: normal;
  width: 75%;
  height: 100%;
  padding: 5%;
  border-color: transparent;
}
.logoStyle {
  margin-top: 1%;
  width: 18%;
  height: 18%;
  display: flex;
}
.logoGoogleStyle {
  width: 65%;
  height: 65%;
  padding-top: 15%;
}
.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.logoUser {
  width: 60%;
  height: 60%;
}
.singOffButton {
  position: fixed;
  right: 5%;
  width: 10%;
  height: 5%;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 100%;
}
.copyrightStyle {
  width: 50%;
  opacity: 80%;
}
.logoHeader{
  max-width: 30%;
}
div{
  display: inline-block;
}
.inputReview, .inputRestaurant{
  margin-top: 5%;
  width: 80%;
  background-color: #D9D9D9;  
  border-block-end-color: #D9D9D9;
  font-size: larger;
  
}
#inputRestaurant{
  height: 150px;
}
#inputReview{
  height: 50px;
 
}
#buttonShare{
  background-color: #B2CA10;
  border-radius: 10px;
  color:#ffffff;
  font-size: large;
  margin-top: 3%;
}
