body{
  display: flex;
  justify-content: center;
  font-family: 'Quicksand';
}

 .divDirection {
  display: flex;
  flex-direction: column;
  padding-left: 35%;
} 



.buttonStyle {
  background-color: #df4b2d;
  color: #ffffff;
  border-radius: 10px;
  font-size: 100%;
  font-weight: normal;
  width: 50%;
  height: 50%;
 top:50%;
 left: 60%;

}

#Gmail {
  width: 5%;
  height: 5%;
}
